name: PyPI Publish

on:
    push:
        tags:
            - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup uv
              uses: astral-sh/setup-uv@v5
              with:
                  version: "0.9.7"
                  python-version: 3.12

            - name: Install dependencies
              run: uv sync

            - name: Compile *.mo files
              run: |
                  sudo apt install gettext
                  uv run python manage.py compilemessages

            - name: Build package
              run: uv build

            - name: Upload package
              uses: actions/upload-artifact@v4
              with:
                  name: django-nitro-mailer-pypi
                  path: dist/

    publish:
        name: Publish
        runs-on: ubuntu-latest
        needs: build

        permissions:
            id-token: write # this permission is mandatory for trusted publishing

        environment:
            name: pypi
            url: https://pypi.org/p/django-nitro-mailer/

        steps:
            - name: Download package
              uses: actions/download-artifact@v4
              with:
                  name: django-nitro-mailer-pypi
                  path: dist/

            - name: Publish build to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
