name: Tests

on: [push, pull_request]

jobs:
    lint:
        name: "Ruff Linter"
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup uv
              uses: astral-sh/setup-uv@v5
              with:
                  version: "0.9.7"
                  python-version: "3.12"

            - name: Install dependencies
              run: uv pip install .

            - name: Run Ruff
              run: uv run ruff check

    format:
        name: "Ruff Formatter"
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup uv
              uses: astral-sh/setup-uv@v5
              with:
                  version: "0.9.7"
                  python-version: "3.12"

            - name: Install dependencies
              run: uv pip install .

            - name: Run Ruff
              run: uv run ruff format --check

    tests:
        strategy:
            matrix:
                python-version: ["3.12", "3.13"]
                django-version: ["5.2", "6.0"]

        name: "Pytest"
        runs-on: ubuntu-latest

        needs: [lint, format]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup uv
              uses: astral-sh/setup-uv@v5
              with:
                  version: "0.9.7"
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  uv pip install .
                  uv pip install "django==${{ matrix.django-version }}"

            - name: Run tests
              run: uv run pytest
